{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p class="form-error">
                  <span class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></span>
                  {{ error.message }}
                </p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
