<div id="chat"></div>
<textarea id="chat_message" class="form-control "rows="2"></textarea>
<button type="button" data-action="send-msg" data-user="{{ app.user.id }}" class="btn btn-primary">Send</button>
