body {
  background-color: #ECEFF1;
  position: relative;
  font-family: "Varela Round", sans-serif; }
  body a {
    color: #383B9F;
    text-decoration: none;
    transition: all .3s ease; }
    body a:hover {
      color: #2772DD;
      text-decoration: none; }
    body a:focus {
      text-decoration: none;
      outline: none; }

.navbar-inverse {
  background-color: #263238;
  padding: 5px 0; }
  .navbar-inverse .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .navbar-inverse a {
    color: #ECEFF1 !important;
    transition: all .3s ease; }
    .navbar-inverse a:hover {
      opacity: 0.6; }
  .navbar-inverse .dropdown a {
    padding-right: 0; }
    .navbar-inverse .dropdown a:focus {
      background-color: #263238 !important; }
  .navbar-inverse .dropdown-menu {
    background-color: #263238;
    width: 300px; }
    .navbar-inverse .dropdown-menu span {
      margin-right: 10px;
      font-size: 18px;
      line-height: 40px; }
    .navbar-inverse .dropdown-menu .profile {
      padding: 10px 0;
      background-color: #424242;
      height: 70px; }
      .navbar-inverse .dropdown-menu .profile .profile-img {
        float: left;
        margin-left: 20px; }
      .navbar-inverse .dropdown-menu .profile .img-caption {
        float: left;
        margin-left: 20px;
        color: #ECEFF1;
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .navbar-inverse .dropdown-menu .profile .img-caption p {
          font-size: 16px;
          margin: 0; }
          .navbar-inverse .dropdown-menu .profile .img-caption p small {
            font-size: 13px;
            display: block; }
    .navbar-inverse .dropdown-menu li {
      height: 40px; }
      .navbar-inverse .dropdown-menu li a {
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0; }
        .navbar-inverse .dropdown-menu li a:hover {
          background-color: #263238; }
  .navbar-inverse .dropdown-toggle {
    padding: 0 10px;
    line-height: 50px; }
  .navbar-inverse .navbar-header {
    order: 1; }
  .navbar-inverse .navbar-right {
    order: 3;
    align-self: flex-end; }
  .navbar-inverse .navbar-form {
    order: 2;
    flex-grow: 2;
    position: relative;
    height: 35px; }
    .navbar-inverse .navbar-form label {
      position: absolute;
      bottom: 3px;
      left: 25px;
      color: #E0E0E0; }
    .navbar-inverse .navbar-form .search-field {
      background-color: #424242;
      color: #ECEFF1;
      border-radius: 2px;
      border: none;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      width: 50%;
      height: 100%;
      padding: 6px 12px 6px 37px;
      font-size: 14px;
      line-height: 1.42857143;
      outline-color: #383B9F; }
      .navbar-inverse .navbar-form .search-field:focus {
        box-shadow: none;
        width: 70%; }
  .navbar-inverse .navbar-toggle {
    order: 3;
    align-self: flex-end; }

.main {
  padding-top: 74px;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .main .default-container, .main .page-header, .main .post-card-container, .main .post-container, .main .post-header-container, .main .post-author-container, .main .post-related-container, .main .comment-panel, .main .comment-group, .main .user-card-container, .main .profile-container, .main .text-container {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 14px;
    border-radius: 2px;
    border: none;
    background-color: #fff; }
  .main .page-header {
    font-size: 18px;
    text-transform: uppercase; }
    .main .page-header span {
      margin-right: 10px; }
  .main h2, .main h3 {
    margin-top: 0; }
  .main .navigation {
    padding: 0 7px; }

.tag {
  background-color: #E0E0E0;
  padding: 5px;
  border-radius: 2px;
  margin: 0 3px; }

.btn-rate {
  background: transparent;
  border: none;
  opacity: 0.7;
  transition: all .3s ease;
  padding: 0; }
  .btn-rate:hover {
    opacity: 1;
    cursor: pointer; }
  .btn-rate:focus {
    outline: none; }

.footer {
  width: 100%;
  padding: 40px 0; }

.form-wrapper {
  float: none;
  margin: 0 auto;
  padding: 50px;
  border-radius: 2px;
  background-color: #fff;
  color: #263238;
  margin-bottom: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .form-wrapper .form-header {
    text-align: center;
    margin-bottom: 40px; }

label {
  margin-top: 15px; }
  label:first-of-type {
    margin-top: 0; }

.form-control {
  border-radius: 2px; }
  .form-control:focus {
    border-color: #383B9F; }

.form-info-wrapper {
  margin: 20px 0;
  font-size: 12px; }

.btn-primary {
  background-color: #383B9F;
  border-radius: 2px;
  transition: all .3s ease;
  border-color: #2772DD; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #2772DD;
    outline: none; }

.post-group {
  overflow: hidden;
  margin: 0 -7px; }

.post-card-container {
  overflow: hidden;
  padding: 10px !important; }
  .post-card-container .post-card-header {
    overflow: hidden; }
  .post-card-container .post-card-author-img {
    width: 30px;
    height: 30px;
    float: left;
    margin-bottom: 10px; }
  .post-card-container .post-card-author-username {
    float: left;
    margin-left: 10px;
    padding-top: 5px; }
  .post-card-container .post-card-date {
    float: right;
    padding-top: 5px; }
  .post-card-container .post-card-image {
    margin: 0 -10px; }
    .post-card-container .post-card-image a {
      height: 150px;
      width: 100%;
      display: block;
      background-position: center;
      background-size: cover; }
  .post-card-container .post-card-footer p {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap; }
  .post-card-container .post-card-footer h3 {
    margin-top: 14px;
    font-size: 20px;
    height: 60px; }

.post-container {
  position: relative; }
  .post-container .post-body {
    overflow: hidden; }
    .post-container .post-body img {
      max-width: 100%;
      height: auto; }
  .post-container .post-footer {
    padding-top: 40px; }

.post-header-container .post-image {
  height: 400px;
  background-size: cover;
  background-position: center;
  margin: -20px; }
.post-header-container .post-header {
  padding-top: 40px; }
  .post-header-container .post-header h2 {
    margin-bottom: 10px; }
  .post-header-container .post-header span {
    font-size: 18px; }

.post-author-container {
  overflow: hidden;
  text-align: center; }
  .post-author-container .post-author-image {
    width: 80px;
    height: 80px;
    margin: 20px auto; }
  .post-author-container .post-author-caption small {
    display: block;
    margin-top: 5px; }
  .post-author-container .post-author-caption .post-author-about {
    padding: 20px 40px; }

.carousel {
  margin-bottom: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .carousel .item {
    height: 400px; }
  .carousel .carousel-control {
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .carousel .carousel-control span {
      padding: 10px;
      box-sizing: content-box;
      color: #383B9F;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .carousel .carousel-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius: 2px; }
  .carousel .carousel-caption {
    bottom: 20px;
    left: 20px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 2px; }
    .carousel .carousel-caption .post-title {
      font-size: 22px;
      color: #383B9F;
      text-shadow: none;
      text-align: left; }
    .carousel .carousel-caption .post-author-img {
      width: 30px;
      height: 30px;
      float: left; }
    .carousel .carousel-caption .post-author-username {
      float: left;
      margin-left: 10px;
      padding-top: 5px;
      text-shadow: none; }

.comment-panel .comment-author-image, .reply-panel .comment-author-image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  float: left; }
.comment-panel .comment-form, .reply-panel .comment-form {
  overflow: hidden; }

.comment-panel {
  overflow: hidden; }

.reply-panel {
  padding-left: 40px;
  padding-top: 20px;
  overflow: hidden; }

.replies {
  padding-left: 40px; }

.comment-group .comment-group-header h3 {
  display: inline-block; }
.comment-group .comment-container {
  padding: 20px 0;
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden; }
  .comment-group .comment-container:last-child {
    border: none; }
  .comment-group .comment-container .comment-author-image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    float: left; }
  .comment-group .comment-container .comment-body {
    overflow: hidden; }
    .comment-group .comment-container .comment-body .comment-body-header {
      padding-bottom: 5px; }
      .comment-group .comment-container .comment-body .comment-body-header .comment-date {
        font-size: 13px;
        line-height: 14px;
        margin-left: 10px; }
    .comment-group .comment-container .comment-body .comment-body-footer {
      padding-top: 10px;
      font-size: 12px; }

.user-card-container {
  overflow: hidden; }
  .user-card-container .user-card-image {
    width: 100px;
    height: 100px;
    float: left; }
  .user-card-container .user-card-caption {
    float: left;
    margin-left: 20px; }
    .user-card-container .user-card-caption .user-card-username {
      padding-top: 15px;
      font-size: 20px; }
      .user-card-container .user-card-caption .user-card-username small {
        display: block;
        padding-top: 5px; }
    .user-card-container .user-card-caption p {
      color: #263238;
      padding-top: 5px; }

.profile-container {
  overflow: hidden;
  position: relative;
  height: auto; }
  .profile-container .profile-body {
    position: relative;
    padding: 20px;
    height: 100%; }
    .profile-container .profile-body .username {
      font-size: 28px; }
      .profile-container .profile-body .username small {
        margin-left: 20px;
        font-size: 28px; }
    .profile-container .profile-body .about {
      margin-top: 40px; }
    .profile-container .profile-body .about-full {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: #fff;
      z-index: 2;
      display: none; }
      .profile-container .profile-body .about-full p {
        margin: 20px 0; }
    .profile-container .profile-body .profile-dates {
      font-size: 12px;
      color: #777; }
      .profile-container .profile-body .profile-dates span {
        margin-right: 20px; }
    .profile-container .profile-body .profile-stats {
      margin-top: 40px; }
      .profile-container .profile-body .profile-stats .stat-wrapper {
        margin-right: 40px;
        display: inline-block; }
        .profile-container .profile-body .profile-stats .stat-wrapper .stat {
          font-size: 24px;
          font-weight: bold;
          display: block; }
        .profile-container .profile-body .profile-stats .stat-wrapper .label {
          font-size: 16px;
          margin-top: 5px;
          display: block;
          color: #263238;
          text-align: left;
          padding: 0;
          font-weight: normal; }
      .profile-container .profile-body .profile-stats .btn {
        width: 200px;
        height: 55px;
        font-size: 18px;
        margin-top: -40px; }
  .profile-container .profile-picture-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 28%; }
    .profile-container .profile-picture-wrapper .profile-picture {
      position: absolute;
      height: 100%;
      left: 0;
      padding: 20px 15%; }

.form-error {
  color: #E53935;
  margin-top: 2px;
  font-size: 12px; }
  .form-error span {
    margin-right: 4px; }

.valid {
  border-color: #00C851; }

.invalid {
  border-color: #E53935; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.col {
  padding-right: 7px;
  padding-left: 7px; }

.space-left {
  margin-left: 10px; }

.space-right {
  margin-right: 10px; }

.space-top {
  margin-top: 10px; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.clicked {
  opacity: 1 !important; }

.btn-clicked {
  background-color: #2772DD; }

.text-container p {
  margin: 0; }

.separated-link::after {
  content: '\2022';
  margin: 0 10px;
  color: #424242;
  opacity: 0.7;
  font-size: 10px; }

.fixed {
  position: fixed;
  top: 74px; }

@media (max-width: 608px) {
  .profile-container .profile-body .profile-stats .stat-wrapper:last-of-type {
    margin: 0; }
  .profile-container .profile-body .profile-stats .btn {
    margin-top: 20px; } }
@media (max-width: 767px) {
  .navbar-inverse .navbar-toggle {
    margin-right: 0; }
  .navbar-inverse .navbar-right {
    position: absolute;
    top: 60px;
    background-color: #263238;
    width: 100%; }
    .navbar-inverse .navbar-right .nav {
      display: flex;
      justify-content: flex-end; }
      .navbar-inverse .navbar-right .nav span {
        line-height: 30px; }
  .navbar-inverse .dropdown {
    margin-right: 20px; }
    .navbar-inverse .dropdown .dropdown-menu {
      position: absolute;
      float: left;
      right: 0;
      left: auto;
      background-color: #263238;
      width: 300px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .navbar-inverse .navbar-form {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none; }
    .navbar-inverse .navbar-form .search-field {
      width: 90%;
      height: 100%; }
      .navbar-inverse .navbar-form .search-field:focus {
        width: 90%; }

  .profile-container .profile-picture-wrapper {
    padding-bottom: 50%; }

  .carousel .item {
    height: 270px; }
  .carousel .carousel-image {
    height: 150px; }
  .carousel .carousel-caption {
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 120px; }
    .carousel .carousel-caption .post-title {
      font-size: 20px; } }
@media (max-width: 992px) {
  .profile-container {
    text-align: center; }
    .profile-container .profile-picture-wrapper .profile-picture {
      right: 0;
      margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
