body {
  background-color: #ECEFF1;
  position: relative;
  font-family: "Varela Round", sans-serif; }
  body a {
    color: #00aeee;
    text-decoration: none;
    transition: all .3s ease; }
    body a:hover {
      color: #337ab7;
      text-decoration: none; }
    body a:focus {
      text-decoration: none;
      outline: none; }

.navbar-inverse {
  background-color: #263238; }
  .navbar-inverse a {
    color: #ECEFF1 !important;
    transition: all .3s ease; }
    .navbar-inverse a:hover {
      opacity: 0.6; }
  .navbar-inverse .dropdown-menu {
    background-color: #263238; }
    .navbar-inverse .dropdown-menu li {
      height: 40px; }
      .navbar-inverse .dropdown-menu li a {
        line-height: 40px; }
        .navbar-inverse .dropdown-menu li a:hover {
          background-color: #263238; }
  .navbar-inverse img {
    margin-right: 10px; }
  .navbar-inverse .dropdown-toggle {
    padding: 0 10px;
    line-height: 50px; }
  .navbar-inverse .search-field {
    background-color: #424242;
    color: #ECEFF1;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 200px;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143; }
    .navbar-inverse .search-field:focus {
      box-shadow: none;
      width: 250px; }

.main {
  margin-top: 70px;
  min-height: 100vh; }
  .main .default-container, .main .page-header, .main .post-group .post-card-container, .post-group .main .post-card-container, .main .post-container, .main .post-header-container, .main .post-author-container, .main .post-related-container, .main .comment-panel, .main .comment-group, .main .user-card-container, .main .text-container {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 14px;
    border-radius: 2px;
    border: none;
    background-color: #fff; }
  .main h2, .main h3 {
    margin-top: 0; }
  .main .navigation {
    padding: 0 7px; }

.tag {
  background-color: #E0E0E0;
  padding: 5px;
  border-radius: 2px;
  margin: 0 3px; }

.btn-rate {
  background: transparent;
  border: none;
  opacity: 0.7;
  transition: all .3s ease;
  padding: 0; }
  .btn-rate:hover {
    opacity: 1;
    cursor: pointer; }
  .btn-rate:focus {
    outline: none; }

.footer {
  width: 100%;
  padding: 40px 0; }

.form-wrapper {
  float: none;
  margin: 0 auto;
  padding: 50px;
  border-radius: 2px;
  background-color: #fff;
  color: #263238;
  margin-bottom: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .form-wrapper .form-header {
    text-align: center;
    margin-bottom: 40px; }

label {
  margin-top: 15px; }

.form-control {
  border-radius: 2px; }
  .form-control:focus {
    border-color: #00aeee; }

.form-info-wrapper {
  margin: 20px 0;
  font-size: 12px; }

.btn-primary {
  background-color: #00aeee;
  border-radius: 2px;
  transition: all .3s ease;
  border-color: #337ab7; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #337ab7;
    outline: none; }

.post-group {
  overflow: hidden;
  margin: 0 -7px; }
  .post-group .post-card-container {
    overflow: hidden;
    padding: 10px !important; }
    .post-group .post-card-container .post-card-header {
      overflow: hidden; }
    .post-group .post-card-container .post-card-author-img {
      width: 30px;
      height: 30px;
      float: left;
      margin-bottom: 10px; }
    .post-group .post-card-container .post-card-author-username {
      float: left;
      margin-left: 10px;
      padding-top: 5px; }
    .post-group .post-card-container .post-card-date {
      float: right;
      padding-top: 5px; }
    .post-group .post-card-container .post-card-image {
      margin: 0 -10px; }
      .post-group .post-card-container .post-card-image a {
        height: 150px;
        width: 100%;
        display: block;
        background-position: center;
        background-size: cover; }
    .post-group .post-card-container .post-card-footer p {
      margin: 0;
      font-size: 12px; }
    .post-group .post-card-container .post-card-footer h3 {
      margin-top: 14px;
      font-size: 20px;
      height: 60px; }

.post-container .post-footer {
  padding-top: 40px; }

.post-header-container .post-image {
  height: 400px;
  background-size: cover;
  background-position: center;
  margin: -20px; }
.post-header-container .post-header {
  padding-top: 40px; }
  .post-header-container .post-header h2 {
    margin-bottom: 10px; }
  .post-header-container .post-header span {
    font-size: 18px; }

.post-author-container {
  overflow: hidden;
  text-align: center; }
  .post-author-container .post-author-image {
    width: 80px;
    height: 80px;
    margin: 20px auto; }
  .post-author-container .post-author-caption small {
    display: block;
    margin-top: 5px; }
  .post-author-container .post-author-caption .post-author-description {
    padding: 20px 40px; }

.comment-panel .comment-author-image, .reply-panel .comment-author-image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  float: left; }
.comment-panel .comment-form, .reply-panel .comment-form {
  overflow: hidden; }

.comment-panel {
  overflow: hidden; }

.reply-panel {
  padding-left: 40px;
  padding-top: 20px;
  overflow: hidden; }

.replies {
  padding-left: 40px; }

.comment-group .comment-group-header h3 {
  display: inline-block; }
.comment-group .comment-container {
  padding: 20px 0;
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden; }
  .comment-group .comment-container:last-child {
    border: none; }
  .comment-group .comment-container .comment-author-image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    float: left; }
  .comment-group .comment-container .comment-body {
    overflow: hidden; }
    .comment-group .comment-container .comment-body .comment-body-header {
      padding-bottom: 5px; }
      .comment-group .comment-container .comment-body .comment-body-header .comment-date {
        font-size: 13px;
        line-height: 14px;
        margin-left: 10px; }
    .comment-group .comment-container .comment-body .comment-body-footer {
      padding-top: 10px;
      font-size: 12px; }

.user-card-container {
  overflow: hidden; }
  .user-card-container .user-card-image {
    width: 100px;
    height: 100px;
    float: left; }
  .user-card-container .user-card-caption {
    float: left;
    margin-left: 20px; }
    .user-card-container .user-card-caption .user-card-username {
      padding-top: 15px;
      font-size: 20px; }
      .user-card-container .user-card-caption .user-card-username small {
        display: block;
        padding-top: 5px; }
    .user-card-container .user-card-caption p {
      color: #263238;
      padding-top: 5px; }

.form-error {
  color: #E53935;
  margin-top: 2px;
  font-size: 12px; }
  .form-error span {
    margin-right: 4px; }

.valid {
  border-color: #00C851; }

.invalid {
  border-color: #E53935; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.col {
  padding-right: 7px;
  padding-left: 7px; }

.space-left {
  margin-left: 10px; }

.space-right {
  margin-right: 10px; }

.no-padding {
  padding: 0 !important; }

.clicked {
  opacity: 1 !important; }

.text-container p {
  margin: 0; }

.separated-link::after {
  content: '\2022';
  margin: 0 10px;
  color: #424242;
  opacity: 0.7;
  font-size: 10px; }

@media (max-width: 767px) {
  .search-field {
    width: 100%; }
    .search-field:focus {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
