body {
  background-color: #ECEFF1;
  position: relative;
  font-family: "Varela Round", sans-serif; }
  body a {
    color: #00aeee;
    text-decoration: none;
    transition: all .3s ease; }
    body a:hover {
      color: #337ab7;
      text-decoration: none; }
    body a:focus {
      text-decoration: none;
      outline: none; }

.navbar-inverse {
  background-color: #263238; }
  .navbar-inverse a {
    color: #ECEFF1 !important;
    transition: all .3s ease; }
    .navbar-inverse a:hover {
      opacity: 0.6; }
  .navbar-inverse .dropdown-menu {
    background-color: #263238; }
    .navbar-inverse .dropdown-menu li {
      height: 40px; }
      .navbar-inverse .dropdown-menu li a {
        line-height: 40px; }
        .navbar-inverse .dropdown-menu li a:hover {
          background-color: #263238; }
  .navbar-inverse img {
    margin-right: 10px; }
  .navbar-inverse .dropdown-toggle {
    padding: 0 10px;
    line-height: 50px; }
  .navbar-inverse .search-field {
    background-color: #424242;
    color: #ECEFF1;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 200px;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143; }
    .navbar-inverse .search-field:focus {
      box-shadow: none;
      width: 250px; }

.main {
  margin-top: 70px;
  min-height: 100vh; }
  .main .default-container, .main .page-header, .main .panel-default, .main .post-group .post-card-container, .post-group .main .post-card-container {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    background-color: #fff; }
  .main h2, .main h3 {
    margin-top: 0; }
  .main .nav-tabs {
    margin-bottom: -20px; }

.footer {
  width: 100%;
  padding: 40px 0; }

.form-wrapper {
  float: none;
  margin: 0 auto;
  padding: 50px;
  border-radius: 2px;
  background-color: #fff;
  color: #263238;
  margin-bottom: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .form-wrapper .form-header {
    text-align: center;
    margin-bottom: 40px; }

label {
  margin-top: 15px; }

.form-control {
  border-radius: 2px; }
  .form-control:focus {
    border-color: #00aeee; }

.form-info-wrapper {
  margin: 20px 0;
  font-size: 12px; }

.btn-primary {
  background-color: #00aeee;
  border-radius: 2px;
  transition: all .3s ease;
  border-color: #337ab7; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #337ab7;
    outline: none; }

.post-group {
  overflow: hidden;
  margin: 0 -7px; }
  .post-group .post-card-container {
    overflow: hidden; }
    .post-group .post-card-container .post-card-header {
      overflow: hidden; }
    .post-group .post-card-container .post-card-author-img {
      width: 30px;
      height: 30px;
      float: left;
      margin-bottom: 10px; }
    .post-group .post-card-container .post-card-author-username {
      float: left;
      margin-left: 10px;
      padding-top: 5px; }
    .post-group .post-card-container .post-card-date {
      float: right;
      padding-top: 5px; }
    .post-group .post-card-container .post-card-image {
      margin: 0 -10px; }
      .post-group .post-card-container .post-card-image a {
        height: 150px;
        width: 100%;
        display: block;
        background-position: center;
        background-size: cover; }
    .post-group .post-card-container .post-card-footer p {
      margin: 0;
      font-size: 12px; }
    .post-group .post-card-container .post-card-footer h3 {
      margin-top: 15px;
      font-size: 20px;
      height: 60px; }

.form-error {
  color: #E53935;
  margin-top: 2px;
  font-size: 12px; }
  .form-error span {
    margin-right: 4px; }

.valid {
  border-color: #00C851; }

.invalid {
  border-color: #E53935; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.col {
  padding-right: 7px;
  padding-left: 7px; }

.space-left {
  margin-left: 10px; }

@media (max-width: 767px) {
  .search-field {
    width: 100%; }
    .search-field:focus {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
