<h3 class="page-header">
    <span class="fa fa-wf fa-rocket" aria-hidden="true"></span>
    Latest posts
</h3>
<div class="post-group" id="latest-posts">
  {% for post in posts %}
    {{ include('post/list.html.twig') }}
  {% endfor %}
</div>
