<div class="toggle-chat" data-action="toggle-chat">
    <span class="fa fa-fw fa-comments-o" aria-hidden="true" title="Toggle chat"></span>
    <span class="visually-hidden">Toggle chat</span>
    <span class="label label-chat">0</span>
</div>

<aside id="chat" class="chat-wrapper col-md-4 col-sm-6 col-xs-12">
    <div class="chat-header">
        <button type="button" class="close" aria-label="Close" data-action="toggle-chat">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>Geeks' chatbox</h3>
    </div>

    <div class="chat-container">
        {{ render(controller('AppBundle:ChatMessage:load')) }}
    </div>

    <div class="chat-control-wrapper">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <textarea data-action="send-msg" class="chat-control" rows="1" placeholder="Say hello!"></textarea>
            <button type="button" data-action="send-msg" class="btn-send" title="Send message">
                <span class="fa fa-fw fa-paper-plane" aria-hidden="true"></span>
                <span class="visually-hidden">Send message</span>
            </button>
        {% else %}
            <textarea class="chat-control" rows="1" placeholder="Sign in to chat" disabled></textarea>
        {% endif %}
    </div>
</aside>
