{% if repliesNumber > 0 %}
    {% if replies is defined %}
        {% for comment in replies %}
            {{ include('comment/content.html.twig') }}
        {% endfor %}
    {% else %}
        <a href="#" class="separated-link" data-action="show-comment-replies" data-comment-id="{{ parent.id }}">Show replies ({{ repliesNumber }})</a>
    {% endif %}
{% endif %}
