<ul class="list-group comments">
  <li class="list-group-item">
    <h3 class="list-group-item-heading">
      {{ comments|length }}
      {% if comments|length == 1 %}
      comment
      {% else %}
      comments
      {% endif %}
    </h3>
  </li>
  {% for comment in comments %}
    {{ include('comment/content.html.twig') }}
  {% endfor %}
</ul>
