{% if repliesNumber > 0 %}
  <ul class="replies">
    {% if comments is defined %}
      {% for comment in comments %}
          {{ include('comment/content.html.twig') }}
      {% endfor %}
    {% else %}
      <li class="list-group-item">
        <button type="button" class="btn btn-default" data-action="show-comment-replies" data-comment-id="{{ parent.id }}">Show replies ({{ repliesNumber }})</button>
      </li>
    {% endif %}
  </ul>
{% endif %}
