<ul class="list-group comments">
  <li class="list-group-item">
    <h3 class="list-group-item-heading">
      <span id="comments-number">
        {{ comments.getTotalItemCount }}
      </span>
      {% if comments.getTotalItemCount == 1 %}
      comment
      {% else %}
      comments
      {% endif %}
    </h3>
  </li>
  {% for comment in comments %}
    {{ include('comment/content.html.twig') }}
  {% endfor %}
  {% if comments.getTotalItemCount > 5 %}
      <li class="list-group-item navigation">
          {{ knp_pagination_render(comments) }}
      </li>
  {% endif %}
</ul>
