@import 'bourbon/bourbon';

$dark: #263238;
$semi-dark: #424242;
//$input-focus: #616161;
$bright: #ECEFF1;
$semi-bright: #E0E0E0;
$blue: #00aeee;
$dark-blue: #337ab7;
$green: #00C851;
$red: #E53935;

body
{
  background-color: $bright;
  position: relative;
  font-family: "Varela Round", sans-serif;

  a
  {
    color: $blue;
    text-decoration: none;
    transition: all .3s ease;

    &:hover
    {
      color: $dark-blue;
      text-decoration: none;
    }

    &:focus
    {
      text-decoration: none;
      outline: none;
    }
  }
}

.navbar-inverse
{
  background-color: $dark;

  a
  {
    color: $bright !important;
    transition: all .3s ease;

    &:hover
    {
      opacity: 0.6;
    }
  }

  .dropdown-menu
  {
    background-color: $dark;

    li
    {
      height: 40px;

      a
      {
        line-height: 40px;

        &:hover
        {
          background-color: $dark;
        }
      }
    }
  }

  img
  {
    margin-right: 10px;
  }

  .dropdown-toggle
  {
    padding: 0 10px;
    line-height: 50px;
  }
}

.main
{
  margin-top: 70px;
  min-height: 100vh;

  .default-container
  {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 2px;
    border: none;
    background-color: #fff;
  }

  .page-header
  {
    @extend .default-container;
  }

  .panel-default
  {
    @extend .default-container;
  }

  h2, h3
  {
    margin-top: 0;
  }

  .nav-tabs
  {
    margin-bottom: -20px;
  }

  .list-group
  {
    @extend .default-container;
    padding: 0 20px;

    .list-group-item
    {
      padding: 20px 0;
      border: none;
      border-bottom: 2px solid $semi-bright;

      &:last-child
      {
        border-bottom: none;
      }
    }
  }

  .form-wrapper
  {
    float: none;
    margin: 0 auto;
    padding: 50px;
    border-radius: 2px;
    background-color: #fff;
    color: $dark;
    margin-bottom: 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);

    .form-header
    {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  label
  {
      margin-top: 15px;
  }

  .form-control
  {
    border-radius: 2px;

    &:focus
    {
      border-color: $blue;
    }
  }

  .btn-primary
  {
    background-color: $blue;
    border-radius: 2px;
    transition: all .3s ease;
    border-color: $dark-blue;

    &:hover, &:focus
    {
      background-color: $dark-blue;
      outline: none;
    }
  }
}

.search-field
{
  background-color: $semi-dark;
  color: $bright;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 200px;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;

  &:focus
  {
    box-shadow: none;
    width: 250px;
  }
}

.footer
{
  width: 100%;
  padding: 40px 0;
}

.footer-homepage
{
  margin-top: 40px;
  background-color: $dark;
  color: $bright;
}

.form-error
{
  color: $red;

  span
  {
    margin-right: 5px;
  }
}

.visually-hidden
{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media(max-width:767px)
{
  .search-field
  {
    width: 100%;

    &:focus
    {
      width: 100%;
    }
  }
}
