body
{
    background-color: $porcelain;
    position: relative;
    font-family: "Varela Round", sans-serif;

    a
    {
        color: $chambray;
        text-decoration: none;
        transition: all .3s ease;

        &:hover
        {
            color: $mariner;
            text-decoration: none;
        }

        &:focus
        {
            text-decoration: none;
            outline: none;
        }
    }
}

.navbar-inverse
{
    background-color: $dark;
    padding: 5px 0;

    .container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    a
    {
        color: $porcelain !important;
        transition: all .3s ease;

        &:hover
        {
            opacity: 0.6;
        }
    }

    .dropdown a
    {
        padding-right: 0;

        &:focus
        {
            background-color: $dark !important;
        }
    }

    .dropdown-menu
    {
        background-color: $dark;
        width: 300px;

        span
        {
            margin-right: 10px;
            font-size: 18px;
            line-height: 40px;
        }

        .profile
        {
            padding: 10px 0;
            background-color: $tundora;
            height: 70px;

            .profile-img
            {
                float: left;
                margin-left: 20px;
            }

            .img-caption
            {
                float: left;
                margin-left: 20px;
                color: $porcelain;
                height: 50px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                p
                {
                    font-size: 16px;
                    margin: 0;

                    small
                    {
                        font-size: 13px;
                        display: block;
                    }
                }
            }
        }

        li
        {
            height: 40px;

            a
            {
                line-height: 40px;
                padding-top: 0;
                padding-bottom: 0;

                &:hover
                {
                    background-color: $dark;
                }
            }
        }
    }

    .dropdown-toggle
    {
        padding: 0 10px;
        line-height: 50px;
    }

    .navbar-header
    {
        order: 1;
    }

    .navbar-right
    {
        order: 3;
        align-self: flex-end;
    }

    .navbar-form
    {
        order: 2;
        flex-grow: 2;
        position: relative;
        height: 35px;

        label
        {
            position: absolute;
            bottom: 3px;
            left: 25px;
            color: $alto;
        }

        .search-field
        {
            background-color: $tundora;
            color: $porcelain;
            border-radius: 2px;
            border: none;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            width: 50%;
            height: 100%;
            padding: 6px 12px 6px 37px;
            font-size: 14px;
            line-height: 1.42857143;
            outline-color: $chambray;

            &:focus
            {
                box-shadow: none;
                width: 70%;
            }
        }
    }

    .navbar-toggle
    {
        order: 3;
        align-self: flex-end;
    }
}

.main
{
    padding-top: 74px;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .default-container
    {
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        padding: 20px;
        margin-bottom: 14px;
        border-radius: 2px;
        border: none;
        background-color: #fff;
    }

    .page-header
    {
        @extend .default-container;
    }

    h2, h3
    {
        margin-top: 0;
    }

    .navigation
    {
        padding: 0 7px;
    }
}

.tag
{
    background-color: $alto;
    padding: 5px;
    border-radius: 2px;
    margin: 0 3px;
}

.btn-rate
{
    background: transparent;
    border: none;
    opacity: 0.7;
    transition: all .3s ease;
    padding: 0;

    &:hover
    {
        opacity: 1;
        cursor: pointer;
    }

    &:focus
    {
        outline: none;
    }
}

.footer
{
    width: 100%;
    padding: 40px 0;
}
