.chat-wrapper
{
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
    padding: 60px 0 0 0;
    background-color: #fff;
    transition: all .3s ease;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .chat-header
    {
        order: 1;
        width: 100%;
        border-bottom: 1px solid $alto;
        position: relative;
        box-sizing: content-box;
        height: 60px;
        margin-bottom: 10px;
        position: absolute;
        top: 60px;

        h3
        {
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            margin: 0;
            line-height: 60px;
        }

        .close
        {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 20px;
            transition: all .3s ease;

            span
            {
                font-size: 20px;
                line-height: 60px;
                text-shadow: none;
            }
        }
    }

    .chat-container
    {
        width: 100%;
        order: 2;
        flex-grow: 2;
        padding: 0 20px 20px 20px;
        position: absolute;
        bottom: 70px;
        overflow: auto;
        max-height: calc(100% - 190px);

        .chat-message
        {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 25px;

            .message-author-img
            {
                height: 50px;
                width: 50px;
                order: 1;
                margin-right: 10px;
            }

            .message-body
            {
                order: 2;
                flex-grow: 2;
                background-color: $chambray;
                padding: 15px;
                border-radius: 2px;
                position: relative;
                min-height: 50px;

                p
                {
                    width: 100%;
                    color: $porcelain;
                    margin: 0;
                    word-break: break-all;
                    white-space: -moz-pre-wrap;
                    white-space: -o-pre-wrap;
                    white-space: pre-wrap;
                    white-space: pre-line;
                    word-wrap: break-word;
                }

                .message-caption
                {
                    font-size: 12px;
                    opacity: 0.8;
                    position: absolute;
                    bottom: -17px;
                    right: 0;

                    time
                    {
                        margin-left: 10px;
                    }
                }

                &::before
                {
                    content: '';
                    @include triangle(10px, $chambray, left);
                    position: absolute;
                    top: 22px;
                    left: -5px;
                }
            }
        }

        .user-message
        {
            .message-author-img
            {
                order: 2;
                margin-left: 10px;
                margin-right: 0;
            }

            .message-body
            {
                order: 1;
                background-color: $mariner;

                .message-caption
                {
                    right: auto;
                    left: 0;
                }

                &::before
                {
                    @include triangle(10px, $mariner, right);
                    left: auto;
                    right: -5px;
                    border-right: none;
                }
            }
        }
    }

    .chat-control-wrapper
    {
        order: 3;
        position: relative;

        .chat-control
        {
            width: 100%;
            padding: 20px 60px 10px 20px;
            border: none;
            outline: none;
            resize: none;
            border-top: 1px solid $alto;
            transition: all .3s ease;

            &:focus
            {
                border-color: $chambray;
            }
        }

        .btn-send
        {
            position: absolute;
            right: 25px;
            top: 20px;
            height: 20px;
            background-color: transparent;
            border: none;
            outline: none;

            span
            {
                opacity: 0.6;
                transition: all .3s ease;

                &:hover
                {
                    opacity: 1;
                }
            }
        }
    }
}

.toggled
{
    right: 0;
}

.toggle-chat
{
    position: fixed;
    top: 74px;
    right: 0;
    padding: 14px;
    width: 20px;
    height: 20px;
    background-color: $dark;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-sizing: content-box;
    z-index: 1000;

    span
    {
        font-size: 20px;
        line-height: 20px;
        color: $porcelain;
        transition: all .3s ease;
    }

    &:hover
    {
        cursor: pointer;
    }

    &:hover span
    {
        opacity: 0.6;
    }
}
