.form-wrapper
{
    float: none;
    margin: 0 auto;
    padding: 50px;
    border-radius: 2px;
    background-color: #fff;
    color: $dark;
    margin-bottom: 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    overflow: hidden;

    .form-header
    {
        text-align: center;
        margin-bottom: 40px;
    }
}

label
{
    margin-top: 15px;

    &:first-of-type
    {
        margin-top: 0;
    }
}

.form-control
{
    border-radius: 2px;

    &:focus
    {
        border-color: $chambray;
    }
}

.form-info-wrapper
{
    margin: 20px 0;
    font-size: 12px;
}

.btn-primary
{
    background-color: $chambray;
    border-radius: 2px;
    transition: all .3s ease;
    border-color: $mariner;

    &:hover, &:focus
    {
        background-color: $mariner;
        outline: none;
    }
}

.btn-default
{
    border-radius: 2px;
    transition: all .3s ease;
    outline: none !important;
}
