.form-error
{
    color: $red;
    margin-top: 2px;
    font-size: 12px;

    span
    {
        margin-right: 4px;
    }
}

.valid
{
    border-color: $green;
}

.invalid
{
    border-color: $red;
}

.visually-hidden
{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.col
{
    padding-right:7px;
    padding-left:7px;
}

.space-left
{
    margin-left: 10px;
}
