.form-error
{
    color: $red;
    margin-top: 2px;
    font-size: 12px;

    span
    {
        margin-right: 4px;
    }
}

.valid
{
    border-color: $green;
}

.invalid
{
    border-color: $red;
}

.visually-hidden
{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.col
{
    padding-right:7px;
    padding-left:7px;
}

.space-left
{
    margin-left: 10px;
}

.space-right
{
    margin-right: 10px;
}

.space-top
{
    margin-top: 10px;
}

.no-padding
{
    padding: 0 !important;
}

.no-margin
{
    margin: 0 !important;
}

.clicked
{
    opacity: 1 !important;
}

.btn-clicked
{
    background-color: $mariner;
}

.text-container
{
    @extend .default-container;

    p
    {
        margin: 0;
    }
}

.separated-link
{
    &::after
    {
        content: '\2022';
        margin: 0 10px;
        color: $tundora;
        opacity: 0.7;
        font-size: 10px;
    }
}

.fixed
{
    position: fixed;
    top: 74px;
}

.carousel-fade
{
    .carousel-inner
    {
        .item
        {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right
        {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right
        {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right
        {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control
    {
        z-index: 2;
    }
}
