@media(max-width : 608px)
{
    .profile-container
    {
        .profile-body .profile-stats
        {
            .stat-wrapper:last-of-type
            {
                margin: 0;
            }

            .btn
            {
                margin-top: 20px;
            }
        }
    }
}

@media(max-width:767px)
{
    .navbar-inverse
    {
        .navbar-toggle
        {
            margin-right: 0;
        }

        .navbar-right
        {
            position: absolute;
            top: 60px;
            background-color: $dark;
            width: 100%;

            .nav
            {
                display: flex;
                justify-content: flex-end;

                span
                {
                    line-height: 30px;
                }
            }
        }

        .dropdown
        {
            margin-right: 20px;

            .dropdown-menu
            {
                position: absolute;
                float: left;
                right: 0;
                left: auto;
                background-color: $dark;
                width: 300px;
                border: 1px solid rgba(0,0,0,.15);
                border-radius: 4px;
                -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
                box-shadow: 0 6px 12px rgba(0,0,0,.175);
            }
        }

        .navbar-form
        {
            border: none;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            box-shadow: none;

            .search-field
            {
                width: 90%;
                height: 100%;

                &:focus
                {
                    width: 90%;
                }
            }
        }
    }

    .profile-container
    {
        .profile-picture-wrapper
        {
            padding-bottom: 50%;
        }
    }

    .carousel
    {
        .item
        {
            height: 270px;
        }

        .carousel-image
        {
            height: 150px;
        }

        .carousel-caption
        {
            bottom: 0;
            left: 0;
            background-color: #fff;
            width: 100%;
            height: 120px;

            .post-title
            {
                font-size: 20px;
            }
        }
    }
}

@media(max-width : 992px)
{
    .profile-container
    {
        text-align: center;

        .profile-picture-wrapper
        {
            .profile-picture
            {
                right: 0;
                margin: 0 auto;
            }
        }
    }
}
