@media(max-width:767px)
{
    .navbar-inverse
    {
        .navbar-toggle
        {
            margin-right: 0;
        }

        .navbar-right
        {
            position: absolute;
            top: 60px;
            background-color: $dark;
            width: 100%;

            .nav
            {
                display: flex;
                justify-content: flex-end;

                span
                {
                    line-height: 30px;
                }
            }
        }

        .navbar-form
        {
            border: none;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            box-shadow: none;

            .search-field
            {
                width: 90%;
                height: 100%;
                padding: 6px 12px;

                &:focus
                {
                    width: 90%;
                }
            }
        }
    }
}
