.user-card-container
{
    @extend .default-container;
    overflow: hidden;

    .user-card-image
    {
        width: 100px;
        height: 100px;
        float: left;
    }

    .user-card-caption
    {
        float: left;
        margin-left: 20px;

        .user-card-username
        {
            padding-top: 15px;
            font-size: 20px;

            small
            {
                display: block;
                padding-top: 5px;
            }
        }

        p
        {
            color: $dark;
            padding-top: 5px;
        }
    }
}

.profile-container
{
    @extend .default-container;
    overflow: hidden;

    .profile-body
    {
        margin-left: 60px;
        float: left;
        position: relative;

        .username small
        {
            margin-left: 20px;
        }

        .about
        {
            margin-top: 20px;
            width: 80%;
        }

        .profile-dates
        {
            font-size: 14px;
            color: $tundora;
            position: absolute;
            top: 0;
            right: 0;

            span
            {
                margin-left: 20px;
            }
        }

        .profile-stats
        {
            margin-top: 40px;

            .stat-wrapper
            {
                margin-right: 40px;
                display: inline-block;

                .stat
                {
                    font-size: 24px;
                    font-weight: bold;
                    display: block;
                }

                .label
                {
                    font-size: 16px;
                    margin-top: 5px;
                    display: block;
                    color: $dark;
                    text-align: left;
                    padding: 0;
                }
            }

            .btn
            {
                float: right;
                width: 200px;
                height: 55px;
                font-size: 18px;
            }
        }
    }

    .profile-picture
    {
        width: 250px;
        height: 250px;
        margin: -20px;
        float: left;
    }
}
