.user-card-container
{
    @extend .default-container;
    overflow: hidden;

    .user-card-image
    {
        width: 100px;
        height: 100px;
        float: left;
    }

    .user-card-caption
    {
        float: left;
        margin-left: 20px;

        .user-card-username
        {
            padding-top: 15px;
            font-size: 20px;

            small
            {
                display: block;
                padding-top: 5px;
            }
        }

        p
        {
            color: $dark;
            padding-top: 5px;
        }
    }
}

.profile-container
{
    @extend .default-container;
    overflow: hidden;
    position: relative;
    height: auto;

    .profile-body
    {
        position: relative;
        padding: 20px;
        height: 100%;

        .username
        {
            font-size: 28px;

            small
            {
                margin-left: 20px;
                font-size: 28px;
            }
        }

        .about
        {
            margin-top: 40px;
        }

        .about-full
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: #fff;
            z-index: 2;
            display: none;

            p
            {
                margin: 20px 0;
            }
        }

        .profile-dates
        {
            font-size: 12px;
            color: $boulder;

            span
            {
                margin-right: 20px;
            }
        }

        .profile-stats
        {
            margin-top: 40px;

            .stat-wrapper
            {
                margin-right: 40px;
                display: inline-block;

                .stat
                {
                    font-size: 24px;
                    font-weight: bold;
                    display: block;
                }

                .label
                {
                    font-size: 16px;
                    margin-top: 5px;
                    display: block;
                    color: $dark;
                    text-align: left;
                    padding: 0;
                    font-weight: normal;
                }
            }

            .btn
            {
                width: 200px;
                height: 55px;
                font-size: 18px;
                margin-top: -40px;
            }
        }
    }

    .profile-picture-wrapper
    {
        position:relative;
        overflow:hidden;
        padding-bottom:28%;

        .profile-picture
        {
            position: absolute;
            height: 100%;
            left: 0;
            padding: 20px 15%;
        }
    }
}
